@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<div class="row" id="divAnuncio">

</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/anuncio.js"></script>